# Dependencies
node_modules/

# Next.js build outputs
.next/
.next.cache/
out/

# Env
.env*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor/OS
.DS_Store
Thumbs.db
.idea/
.vscode/

# Coverage/Build
coverage/
dist/
.build/

# Platforms
.vercel/
.turbo/

# Misc
**/*.local
